kubeconfig_path               = "~/.kube/config"
tailscale_oauth_client_id     = "your-tailscale-oauth-client-id"
tailscale_oauth_client_secret = "your-tailscale-oauth-client-secret"
grafana_admin_password        = "your-grafana-admin-password"
forgejo_admin_password        = "your-forgejo-admin-password"
woodpecker_forgejo_client     = "your-forgejo-oauth-client-id"
woodpecker_forgejo_secret     = "your-forgejo-oauth-client-secret"
